<div class="sixteen columns">
	<h3>Register your event</h3>
	<hr />
<div>
<div class="six columns alpha">
	<dl>
		<dt>
			Name
		</dt>
		<dd>
			<input data-id="name" type="text" placeholder="My fantastic event" />
		</dd>
		<dt>
			Date
		</dt>
		<dd>
			<input data-id="date" type="date" placeholder="1 July"	/>
		</dd>
		<dt>
			Starts at
		</dt>
		<dd>
			<input data-id="startsAt" type="time" placeholder="18:00"/>
		</dd>
		<dt>
			Ends at
		</dt>
		<dd>
			<input data-id="endsAt" type="time" value="" placeholder="22:00" />
		</dd>
		<dt>
			Location
		</dt>
		<dd>
			<input data-id="location" type="text" placeholder="Locale,City" />
		</dd>
		<dt>
			Number of seats
		</dt>
		<dd>
			<input data-id="numberOfSeats" type="number" placeholder="70" />
		</dd>		
	</dl>
	
</div>
<div class="ten columns omega">
	<dl>
		<dt>
			Description:
		</dt>
		<dd>
			<textarea data-id="description" class="massive-height"></textarea>
		</dd>
	</dl>	
</div>
<div class="sixteen columns clearfix">
	<button id="register">Register</button>
<div>