<h1>Register your event</h1>
	<dl>
		<dt>
			Name
		</dt>
		<dd>
			<input data-id="name" type="text" placeholder="My fantastic event" />
		</dd>
		<dt>
			Date
		</dt>
		<dd>
			<input data-id="date" type="date" placeholder="1 July"	/>
		</dd>
		<dt>
			Starts at
		</dt>
		<dd>
			<input data-id="startsAt" type="date" placeholder="18:00"/>
		</dd>
		<dt>
			Ends at
		</dt>
		<dd>
			<input data-id="endsAt" type="date" value="" placeholder="22:00" />
		</dd>
		<dt>
			Description:
		</dt>
		<dd>
			<textarea data-id="description"></textarea>
		</dd>

		<dt>
			Location
		</dt>
		<dd>
			<input data-id="location" type="text" placeholder="Locale,City" />
		</dd>
	</dl>
	<button id="register">register</button>