<div class="sixteen columns">
	<h3 id="name"></h3>
	<hr />
<div>
<div class="ten columns alpha">
	<p id="description"></p>
	<p id="date"></p><!-- use time tag -->
</div>
<div class="six columns omega">
	<dl>
		<dt>
			Name
		</dt>
		<dd>
			<input data-id="name" type="text" placeholder="Hulk Hogan" />
		</dd>
		<dt>
			Mail address
		</dt>
		<dd>
			<input data-id="mail" type="email" placeholder="hulk@hogan.com" />
		</dd>
		<dt>
			Food allergy (optional)
		</dt>
		<dd>
			<input data-id="allergy" type="text" placeholder="vegan halal" />
		</dd>	
	</dl>
	<button id="sign-up">Sign up!</button>
</div>
